* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
    display: inline-block;
}

:root {
	--blue: #0084FD;
	--light-blue: #B5DDFF;
	--purple: #9792E4;
    --yellow: #FDC15F;
	--dark: #333333;
	--light: #FFFFFF;
}

/* LAYOUT */

header {
    background-color: var(--blue);
    padding: 14px 0;
}

section {
    padding: 30px 0;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

p {
    font-size: 12px;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 100%;
}

.col-4 {
    width: 100%;
}

.col-6 {
    width: 100%;
}


/* NAVBAR */

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.logo {
	display: block;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    display: none;
}

.nav-menu a {
    color: white;
    font-size: 12px;
}

.nav-menu .button {
    background-color: white;
    color: black;
    font-weight: 600;
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 11px;
}

nav .col {
    padding: 0 12px;
}

.bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-hamburger i {
    color: white;
}

/* CARD */

.card {
    padding: 0 12px;
}

.card-horizontal, .card-vertical {
    height: 100%;
}

.card-image img {
    max-width: 208px;
}

.card-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-horizontal .card-content {
    align-items: flex-start;
}

.button-blue i {
    color: white;
}

.button-blue {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 40px;
}

.card-vertical, .card-horizontal {
    background-color: var(--light-blue);
    border-radius: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    font-size: 15px;
    color: gray;
    font-weight: 700;
}

.card-content h3, i {
    color: var(--blue);
}

.card-content p {
    line-height: 25px;
}

.card-vertical {
    text-align: center;
}

.card-icon i {
    font-size: 45px;
}

/* PLANNING */

.purple {
    background-color: var(--purple);
}

.purple .project {
    padding: 4px 30px;
}

.planning-section {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.section-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--light);
}

.section-body p {
    line-height: 21px;
}

.purple .row .project:last-child{
    align-self: flex-end;
}

.develop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--light);
    border-radius: 45px;
    padding: 19px 10px;
}

.develop-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--dark);
    text-align: center;
}

.develop-card .card-body p {
    line-height: 25px;
    font-weight: 600;
}

.arrow-circle {
    background-color: var(--purple);
    line-height: 40px;
	text-align: center;
	border-radius: 50%;
	padding: 0 16px;
}

.arrow-circle i {
    color: var(--dark);
    font-size: 13px;
}

/* TESTIMONIALS */

.testimonials, .heading {
    padding: 0 12px;
}

.heading-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0px 19px;
    margin-bottom: 15px;
}

.heading-content h5 {
    text-transform: uppercase;
    font-weight: 400;
}

.heading-content h1 {
    color: var(--purple);
    font-size: 30px;
}

.box-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--purple);
    border-radius: 35px;
    padding: 24px 15px;
    color: var(--light);
}

.box-testimonial figure {
    width: 150px;
    aspect-ratio: 1/1;
}

.box-testimonial img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box-content {
    text-align: center;
}

.testimonial-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.testimonial-cite {
    margin-bottom: 20px;
}

.quote i {
    color: var(--light);
}

/* BENEFITS */

.benefits-card {
    padding: 0px 12px;
}

.benefits-title {
    text-align: center;
    color: var(--light);
    padding: 10px;
}

.card-concept {
    background-color: var(--light);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.card-concept p {
    line-height: 25px;
    color: gray;
}

.number {
    font-size: 40px;
    font-weight: 600;
}

.card-concept .number, h3 {
    color: var(--purple);
}

.button-purple {
    background-color: var(--purple);
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    line-height: 27px;
    border-radius: 30px;
    padding: 0 30px;
}

/* ABOUT US */

.about-us .col-8, .col-4 {
    padding: 0px 12px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 17px;
}

.details .title {
    color: var(--purple);
    font-size: 45px;
}

.details p {
    line-height: 30px;
    font-weight: 600;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 17px 42px;
}

.member figure {
    width: 150px;
    aspect-ratio: 1/1;
}

.member img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.member figure {
    position: relative;
}

figure .quote i {
    color: var(--purple);
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.member p {
    width: 154px;
    color: var(--purple);
    font-size: 18px;
    font-weight: bold;
}

.member .button-purple {
    background-color: var(--purple);
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    line-height: 27px;
    border-radius: 30px;
    padding: 0 11px;
}

.member .button-purple i {
    color: var(--light);
    margin-right: 5px;
}

/* PROPOSTA */

.advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.banner .col {
    flex-basis: 250px;
}

.banner .row {
    justify-content: center;
}

.banner .advice h4 {
    color: var(--light);
}

.banner .advice h3 {
    color: var(--light);
    font-weight: 16px;
}

.banner .advice p {
    color: var(--light);
}

.advice h4 {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
}

.advice h1 {
    color: var(--yellow);
    font-size: 30px;
}

.button-white {
    background-color: var(--light);
    color: var(--purple);
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 28px;
}

.information {
    font-size: 8px;
}

.note {
    font-size: 8px;
    text-align: center;
    line-height: 14px;
}

.special {
    text-decoration: underline;
}

/* FOOTER */


footer .col {
    flex-basis: 250px;
}

footer .row {
    justify-content: center;
}

footer {
    background-color: var(--dark);
    padding: 30px 0px;
}

footer .col {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

footer p {
    color: var(--light);
    text-align: center;
    font-size: 9px;
}

footer u {
    color: var(--purple);
}

.special.colored {
    color: var(--purple);
}









/* DEBUG */

/* .debug .container, .container-medium, .container-small {
    border: 1px solid black;
    padding: 10px;
}

.debug .row {
    border: 1px solid black;
    padding: 10px;
}

.debug [class^='col'] {
    border: 1px solid black;
    padding: 10px;
} */



/* MEDIA QUERY */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .card-horizontal {
        align-items: flex-start;
    }

    .col-12 {
        width: calc((100% / 12) * 12);
    }

    .col-8 {
        width: calc((100% / 12) * 8);
    }

    .col-4 {
        width: calc((100% / 12) * 4);
    }

    .col-6 {
        width: calc((100% / 12) * 6);
    }

    .box-testimonial {
        flex-direction: row;
        gap: 40px;
    }

    .box-content {
        text-align: left;
    }

    .benefits-card {
        width: 50%
    }

    .project {
        width: 100%;
    }

    .develop .card-header img {
        max-width: 580px;
    }


}

@media (min-width: 992px) {

    .icon-hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .card-horizontal {
        display: flex;
        flex-direction: row;
    }

    .card-image {
        align-self: flex-end;
    }

    .card-image img {
        padding-right: 48px;
    }

    .purple .project {
        padding: 47px;
    }

    .section-header img {
        width: 290px;
    }

    .card-header img {
        width: 200px;
    }

    .benefits-card {
        width: calc((100% / 12) * 4);
    }

    .project {
        width: calc((100% / 12) * 6);
    }

    .develop .card-header img {
        max-width: 270px;
    }
}

