* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
    display: inline-block;
}

:root {
	--blue: #0084FD;
	--light-blue: #B5DDFF;
	--purple: #9792E4;
    --yellow: #FDC15F;
	--dark: #333333;
	--light: #FFFFFF;
}

/* LAYOUT */

header {
    background-color: var(--blue);
    padding: 14px 0;
}

section {
    padding: 30px 0;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

p {
    font-size: 12px;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 100%;
}

.col-4 {
    width: 100%;
}

.col-6 {
    width: 100%;
}


/* NAVBAR */

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.logo {
	display: block;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    display: none;
}

.nav-menu a {
    color: white;
    font-size: 12px;
}

.nav-menu .button {
    background-color: white;
    color: black;
    font-weight: 600;
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 11px;
}

nav .col {
    padding: 0 12px;
}

.bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-hamburger i {
    color: white;
}

/* CARD */

.card {
    padding: 0 12px;
}

.card-horizontal, .card-vertical {
    height: 100%;
}

.card-image img {
    max-width: 208px;
}

.card-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-horizontal .card-content {
    align-items: flex-start;
}

.button-blue i {
    color: white;
}

.button-blue {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 40px;
}

.card-vertical, .card-horizontal {
    background-color: var(--light-blue);
    border-radius: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    font-size: 15px;
    color: gray;
    font-weight: 700;
}

.card-content h3, i {
    color: var(--blue);
}

.card-content p {
    line-height: 25px;
}

.card-vertical {
    text-align: center;
}

.card-icon i {
    font-size: 45px;
}

/* PLANNING */

.purple {
    background-color: var(--purple);
}

.purple .project {
    padding: 4px 30px;
}

.planning-section {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.section-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--light);
}

.section-body p {
    line-height: 21px;
}

.purple .row .project:last-child{
    align-self: flex-end;
}

.develop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--light);
    border-radius: 45px;
    padding: 19px 10px;
}

.section-header img {
    width: 300px;
}

.card-header img {
    width: 270px;
}

.develop-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--dark);
    text-align: center;
}

.develop-card .card-body p {
    line-height: 25px;
    font-weight: 600;
}

.arrow-circle {
    background-color: var(--purple);
    width: 35px;
    border-radius: 50%;
    padding: 8px;
}

.arrow-circle i {
    color: var(--dark);
    font-size: 13px;
}

/* TESTIMONIALS */

.testimonials, .heading {
    padding: 0 12px;
}

.heading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 19px;
    margin-bottom: 15px;
}

.heading-content h5 {
    text-transform: uppercase;
    font-weight: 400;
}

.heading-content h1 {
    color: var(--purple);
    font-size: 30px;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
    background-color: var(--purple);
    border-radius: 35px;
    padding: 24px 15px;
    color: var(--light);
}

.testimony figure {
    width: 150px;
    aspect-ratio: 1/1;
}

.testimony img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

blockquote {
    text-align: center;
}

blockquote footer {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

blockquote p {
    margin-bottom: 20px;
}

.quote i {
    color: var(--light);
}









/* DEBUG */

/* .debug .container, .container-medium, .container-small {
    border: 1px solid black;
    padding: 10px;
}

.debug .row {
    border: 1px solid black;
    padding: 10px;
}

.debug [class^='col'] {
    border: 1px solid black;
    padding: 10px;
} */



/* MEDIA QUERY */

@media (min-width: 576px) {


}

@media (min-width: 768px) {

    .card-horizontal {
        align-items: flex-start;
    }

    .col-12 {
        width: calc((100% / 12) * 12);
    }

    .col-8 {
        width: calc((100% / 12) * 8);
    }

    .col-4 {
        width: calc((100% / 12) * 4);
    }

    .col-6 {
        width: calc((100% / 12) * 6);
    }

    .testimony {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    blockquote {
        text-align: left;
    }


}

@media (min-width: 992px) {

    .icon-hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .card-horizontal {
        display: flex;
        flex-direction: row;
    }

    .card-image {
        align-self: flex-end;
    }

    .card-image img {
        padding-right: 48px;
    }

    .purple .project {
        padding: 47px;
    }

    .section-header img {
        width: 290px;
    }

    .card-header img {
        width: 200px;
    }
}

